<%= stylesheet_link_tag "compiled/home", :media => "all" %>
<div class="container-fluid">
        <div class="row top-wrapper">
            <div class="top_title text-center p-3 col-12">
                <h1 class="brand_name pt-5">CRiMP</h1>
                <h1 class="text-light sub_heading pt-4">CRiMPはボルダリングジムの口コミサイトです</h1>
            </div>
            <div class="col-12 pt-2">
                <div class="row">
                    <div class="col-4 border m-auto p-2 text-center text-light">
                        <%=link_to"登録する", new_user_registration_path%>
                    </div>
                    <div class="col-4 border m-auto p-2 text-center text-light">
                        <a href="/gyms" class="text-light">口コミを見る</a>
                    </div>
                </div>
            </div>
        </div>
</div>
