<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p>User_name</p>
        </div>
        <div class="col-6 text-right">
            <a href="/user_profile_edit">編集する</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pl-4 border-bottom">
            <p class="mb-0">現在のグレード:user_rank</p>
            <p>ホームジム:user_home_gym</p>
            <p class="">ユーザーによる自己紹介タイム</p>
        </div>
    </div>
    <div class="row"><!--口コミをループで回すとこ -->
        <div class="col-8 text-center">
            <h4>投稿済み口コミ</h4>
        </div>
        <div class="col-4">
            <p class="pt-1">post.conut</p>
        </div>
    </div>
    <div class="row mx-1 border mb-2">
        <div class="col-12">
            <div class="row">
                <div class="col-3">date</div>
                <div class="col-9">post.gym.name</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-1">
                <div class="col-4 border-right pl-2 pt-2 text-center">壁と課題</div>
                <div class="col-8 pl-1 pr-0">user.post.problem_caption になるんだよねってこと</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-1">
                <div class="col-4 border-right pl-2 pt-2 text-center">雰囲気</div>
                <div class="col-8 pl-1 pr-0">user.post.problem_caption になるんだよねってこと</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-1">
                <div class="col-4 border-right pl-2 pt-2 text-center">総評</div>
                <div class="col-8 pl-1 pr-0">user.post.problem_caption になるんだよねってこと</div>
            </div>
        </div>
    </div>
    <div class="row mx-1 border mb-2">
        <div class="col-12">
            <div class="row">
                <div class="col-3">date</div>
                <div class="col-9">post.gym.name</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-1">
                <div class="col-4 border-right pl-2 pt-2 text-center">壁と課題</div>
                <div class="col-8 pl-1 pr-0">user.post.problem_caption になるんだよねってこと</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-1">
                <div class="col-4 border-right pl-2 pt-2 text-center">雰囲気</div>
                <div class="col-8 pl-1 pr-0">user.post.problem_caption になるんだよねってこと</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row mb-1">
                <div class="col-4 border-right pl-2 pt-2 text-center">総評</div>
                <div class="col-8 pl-1 pr-0">user.post.problem_caption になるんだよねってこと</div>
            </div>
        </div>
    </div>
</div>