<%= stylesheet_link_tag "compiled/gyms", :media => "all" %>
<div class="container-fluid">
    <div class="row top-back">
        <div class="col-8">
            <h3 class="gym-name"><span class="border-bottom"><%= @gym.gym_name%></span></h3>
        </div>
        <div class="col-4 pl-0 pt-3">
            <p class="previous-hold-change mb-0 text-center">前回のホールド替え</p>
            <p class="previous-hold-change mb-0 text-center">date of the last change</p>
            <p class="last-hold-change mb-0 text-center">次回のホールド替え</p>
            <p class="last-hold-change text-center">11/29</p>
        </div>
        
    </div>
    <div class="row f_2_info border-top border-bottom border-white bg-light">
        
        <div class="text-center col-5 pr-0 pt-1">
            <p class="mb-0 overall_score">総合評価:4.9点<!--gym.overall_score--></p>
            <p class="mb-0">1位/<!--gym.length-->５０店中</p>
        </div>
        <div class="col-5 text-center pl-0 pt-1">
            <p class="mb-0">ホームジム人数:33<!--home_gym.num.-->人</p>
            <p class="mb-0">固定課題数:96<!--gym.problem_num--></p>
        </div>
        <div class="col-2 text-center p-0 pt-2">
            <p>👍:54<!--gym.problem_num--></p>
        </div>
    </div>
    
    <div class="row f_3_info border-bottom bg-light">
        <div class="col-3 text-center px-0 border-right">
            <p class="">コスパ:4.3点<!--cost_par_performance.--></p>
            <p>1位/<!--gym.length-->５０店中</p>
        </div>
        <div class="col-3 text-center px-0 border-right">
            <p class="mb-0 quality_of_service">課題:4.3点<!--cost_par_performance.--></p>
            <p>1位/<!--gym.length-->５０店中</p>
        </div>
        <div class="col-3 text-center px-0 border-right">
            <p class="mb-0">居心地:4.3点<!--cost_par_performance.--></p>
            <p>1位/<!--gym.length-->５０店中</p>
        </div>
        <div class="col-3 text-center px-0">
            <p class="mb-0">接客:4.3点<!--cost_par_performance.--></p>
            <p>1位/<!--gym.length-->５０店中</p>
        </div>
        
    </div>
</div>